<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Garden</title>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="Plants.component.css">
    </head>

    <body>
      
        <div class="wrapper">
            <header>
                <a routerLink="/dashboard" class="logo">The<span>Garden</span></a>
                <nav>

                    <ul>
                        <li><a style="color: black;" routerLink="/login">Logout</a></li>
                        <li><a style="color: black;" routerLink="/Plants">Plants</a></li>
                        <li><a style="color: black;" routerLink="/shopping-cart">Cart</a></li>
                        <li><a style="color: black;" routerLink="/dashboard">Home</a></li>
                        <li><a style="color: black;" routerLink="/user-request">Request</a></li>
                    </ul>

                </nav>

            </header>
        </div>
        <div id="search-component">
          <label for="search-box">Plant Search</label>
          <input #searchBox id="search-box" (input)="search(searchBox.value)" />
        
          <ul class="search-result">
            <li *ngFor="let Plant of plants$ | async" >
              <a routerLink="/detail/{{Plant.id}}">
                {{Plant.name}}
              </a>
            </li>
          </ul>
        </div>
        
        <ul class="Plants">
          <li *ngFor="let Plant of Plants" style="text-align:center ; list-style: none ;">
            <a routerLink="/detail/{{Plant.id}}">
            <div class="card" style="color: black ;">
                <img src="assets/filler.jpg" alt="Plant" height="300em" style="width:20% ;"  >
                <h2>{{Plant.name}}</h2>
                <p class="price">$ {{Plant.price}}</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, aliquid.</p>
                <p>________________________________________________________________________</p>
            </div>
            </a>
          </li>
        </ul>

    </body>

</html>
