<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Garden</title>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="shopping-cart.component.css">
    </head>

    <body>

        <div class="wrapper">
            <header>
                <a routerLink="/dashboard" class="logo">The<span>Garden</span></a>
                <nav>

                    <ul>
                        <li><a style="color: black;" routerLink="/login">Logout</a></li>
                        <li><a style="color: black;" routerLink="/Plants">Plants</a></li>
                        <li><a style="color: black;" routerLink="/shopping-cart">Cart</a></li>
                        <li><a style="color: black;" routerLink="/dashboard">Home</a></li>
                        <li><a style="color: black;" routerLink="/user-request">Request</a></li>
                    </ul>

                </nav>

            </header>
        </div>
        <button class="btn" (click) = "checkout()">Checkout</button>

        <ul class="Plants">
          <li *ngFor="let product of shoppingCart" style="text-align:center ; list-style: none ;">
            <div class="card">
                <img src="assets/filler.jpg" alt="Plant" height="300em" style="width:20% ;"  >
                <h2>{{product.name}}</h2>
                <p class="price">$ {{product.price}}</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, aliquid.</p>
                <p><button (click)="removeFromCart(product)">Remove From Cart</button></p>
            </div>
          </li>
        </ul>

    </body>

</html>



<!-- <body>
    <button type = "button" (click) = "BackButton()"> Back </button>
    <button type = "button" (click) = "checkout()"> Checkout </button>

    <ul class="wrapper">
        <div *ngFor="let product of shoppingCart">
            <button class="btn-group" routerLink="/detail/{{product.id}}">
                {{product.name}}
                <label class="amount">Quantity: {{product.quantity}}</label>
                <label class="price">Price: ${{product.price}}</label>
            </button>
            <button type="button" class="delete" title="delete Plant"
            (click)="removeFromCart(product)">x</button>
        </div>
    </ul> -->






